.wrapper{
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.header-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}

header{
	position: relative;
	text-align: center;
	margin-top: 10%;
	height: 100%;
	width: 100%;
	z-index: 2;
	@media (max-width: $tab){
		margin-top: 40%;
		@media (orientation: landscape){
			margin-top: 20%;
		}
	}
	@media (max-width: $phone){
		margin-top: 30%;
		@media (orientation: landscape){
			margin-top: 10%;
		}
	}
	@media (max-width: $mini){
		margin-top: 35%;
	}
	p{
		font-size: 0.9em;
		&.byline{
			font-style: italic;
		}
	}
	big{
		font-weight: bold;
	}
	img{
		width: 20%;
		height: auto;
		text-align: center;
		@include transition(all 0.2s ease-in-out);
		-webkit-backface-visibility: hidden;
		&:hover{
			@include transform(rotate(1deg));
		}
		@media (max-width: $tab){
			width: 35%;
			@media (orientation: landscape){
				width: 20%;
			}
		}
		@media (max-width: $phone){
			width: 50%;
			@media (orientation: landscape){
				width: 20%;
			}
		}

		@media (max-width: $mini){
			width: 50%;
		}
	}
}


.features, .activities, .contact{
	position: relative;
	margin-top: 12.5%;
}

.features{
	@media (max-width: $tab){
		margin-top: 40%;
		@media (orientation: landscape){
			margin-top: 25%;
		}
	}
	@media (max-width: 667px){
		margin-top: 55%;
		@media (orientation: landscape){
			margin-top: 15%;
		}
	}
	@media (max-width: $mini){
		margin-top: 60%;
	}
}



.activity-box, .feature-box, .contact-box{
	margin: 0 5% 0 5%;
	width: 90%;
}




.feature-container {
	background: transparent;
	@include border-top-radius(10px);
	@include border-bottom-radius(10px);
	@include border-left-radius(10px);
	@include border-right-radius(10px);
	@include transition(all .4s ease-in-out);
	width: 100%;
	margin: 0 auto; 
	text-align: center;
	
	ul.rig{
		list-style-type: none;
		padding: 0;
		width: 90%;
		margin-left: 5%;
		&.desktop{
			@media (max-device-width: $tab){
				display: none;
			}
			li{
				width: 23%;
				height: 0;
				padding-bottom: 23%;
				margin: 20px 1% 0 1%;
				overflow: hidden;
				display: inline-block;
				position: relative;
				text-align: center;
				&:first-child{
					margin-left: 0;
				}
				@media (max-width: 1150px){
					width: 31%;
					padding-bottom: 31%;
				}

				@media (max-width: $tab){
					width: 47%;
					padding-bottom: 47%;
				}
				@media (max-width: $phone){
					width: 80%;
					padding-bottom: 80%;
					@media (orientation: landscape){
						width: 50%;
						padding-bottom: 50%;
					}
				}

				&:hover{
					.blurbs{
						opacity: 1;
					}
				}
				.feature-image{
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					background-size: contain !important;
					background-repeat: no-repeat !important;
				}
				.blurbs{
					opacity: 0;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					z-index: 3;
					background-color: rgba(0,0,0,0.8);
					@include transition(all .1s linear);
					a,p{
						color: white;
						font-family: Georgia, Times, serif;
						font-style: italic;
						font-weight: lighter;
						padding: 10px;
						margin-top: 40px;
						line-height: 1.5;
					}
				}
			}

		}
		&.mobile{
			display: none;
			@media (max-device-width: $tab){
				display: block;
			}
			li{
				width: 90%;
				margin: 20px 1% 0 1%;
				display: inline-block;
				position: relative;
				overflow: hidden;
				text-align: center;
				background: $gray;
				.feature-mobile{
					width: 100%;
					height: auto;
					img{
						max-width: 90%;
						width: 90%;
						height: auto;
						padding-top: 5%;
						background: $gray;
					}
					p{
						width: 90%;
						margin-left: 5%;
						font-weight: bold;
					}

				}
			}
		}
	}
}






.activity-list{
	position: relative;
	width: 90%;
	height: auto;
	margin-left: 5%;
	ul{
		list-style-type: none;
		padding: 0;
		a{
			text-decoration: none;
		}
		li{
			font-size: 1.5em;
			background-color: $gray;
			margin-top: 10px;
			padding: 1px 10px;
			@include transition(all .2s ease-in-out);
			strong{
				font-weight: bold;
			}
			&:hover{
				background-color: $purple;
				color: black;
			}
		}
	}
}





footer{
	margin: 0 auto 8% auto;
	width: 90%;
	height: 75px;
	ul{
		padding: 0;
		list-style-type: none;
		li{
			display: inline-block;
			font-size: 3em;
			margin: 2px 10px;
			&:hover{
				@include transform(scale(1.1));
			}
		}
	}
}


