/***************************************************************************************
* LISTS
***************************************************************************************/

.info-list{
	top: 0;
	left: 0;
	position: relative;
	width: 90%;
	height: auto;
	margin-left: 5%;
	ul{
		list-style-type: none;
		padding: 0;
		a{
			text-decoration: none;
		}
		li{
			font-size: 1.5em;
			background-color: $gray;
			margin-top: 10px;
			padding: 1px 10px;
			@include transition(all .2s ease-in-out);
			strong{
				font-weight: bold;
			}
			&:hover{
				background-color: $purple;
				color: black;
			}
		}
	}
}


.container {
	background: transparent;
	@include border-top-radius(10px);
	@include border-bottom-radius(10px);
	@include border-left-radius(10px);
	@include border-right-radius(10px);
	@include transition(all .4s ease-in-out);
	width: 1200px;
	margin: 0 auto; 
	text-align: center;
	.box {
		margin: 3px;
	  	padding: 3px;
	  	background: $whitegray;
	  	font-size: 11px;
	  	line-height: 1.4em;
	  	float: left;
	  	position: relative;
	  	&:hover{
	  		.blurbs{
	  			display: block;
	  		}
	  	}
	  	p{
	  		font-size: 1.5em;
	  		line-height: 1.5em;
	  	}
	  	a{
	  		img{
	  			&:hover{
	  				opacity: 0.9;
	  			}
	  		}
	  	}
	  	.blurbs{
	  		@include transition(all .2s ease-in-out);
			background-color: black;
			z-index: 2;
			color: white;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			opacity: 0.7;
			font-style: italic;
			line-height: 1.5em;
			text-decoration: none;
			font-size: 1.2em;
			p{
				text-align: center;
				color: white;
				font-size: 2em;
				line-height: 2em;
				margin-top: 5%;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	.col1 { 
		width: 80px;
		text-align: center;
		img{
			max-width: 80%;
		}
	}

	.col2 { 
		width: 180px; 
		text-align: center;
		img{
			max-width: 180px;
		}
	}
	.col3 { 
		width: 280px; 
		text-align: center;
		img{
			max-width: 280px;
		}
	}
	.col4 { 
		width: 380px;
		text-align: center; 
		img{
			max-width: 380px;
		}
	}
	.col5 {
		width: 480px;
		img{
			max-width: 480px;
		}
	}
}


/***************************************************************************************
* IMAGE BOX
***************************************************************************************/

.activity-box{
	margin: 10% 5% 0 5%;
	width: 90%;
}






// /*Media Queries*/
// @media only screen and (max-width : 1199px),
// only screen and (max-device-width : 1199px){
//     .container {
//         width: 1000px;
//         text-align: center;
//     }
// }
 
 
// @media only screen and (max-width : 999px),
// only screen and (max-device-width : 999px){
//     .container {
//         width: 800px;
//         text-align: center;
//     }
// }
 
// @media only screen and (max-width : 799px),
// only screen and (max-device-width : 799px){
//     .container {
//         width: 600px;
//         text-align: center;
//     }
// }
 
// @media only screen and (max-width : 599px),
// only screen and (max-device-width : 599px){
//     .container {
//         width: 400px;
//         text-align: center;
//     }
// }
 
// @media only screen and (max-width : 360px),
// only screen and (max-device-width : 360px){
//     .container {
//         width: 310px;
//         text-align: center;
//     }
// }






/***************************************************************************************
* FINAL
***************************************************************************************/

.final{
	margin: 0 auto 8% auto;
	width: 90%;
	height: 75px;
	background-image: url(../images/red-purple-background.jpg);
	background-position: center;
	opacity: 0.95;
	img{
		overflow: hidden;
	}
}


.final-text {
	width: 100%;
	padding-top: 20px;
	p,a{
		text-align: center;
		font-size: 1.5em;
		color: black;
		text-decoration: none;
		@include transition(all .3s ease-in-out);
	}
	a:hover{
		background-color: black;
		color: white;
	}
}

/***************************************************************************************
* FOOTER
***************************************************************************************/


.footer{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	p{
		text-align: center;
		font-size: 0.8em;
	}
}


/***************************************************************************************
* MEDIA QUERIES
***************************************************************************************/
// @media only screen and (max-width : 1024px),
// only screen and (max-device-width : 1024px){
	
// 	h2 {
// 		font-size:2em;
// 	}

	
// 	header{
// 		margin-top: 15%;
// 		width: 100%;
// 		height: auto;
// 	}

// 	.logo p{
// 		font-size: 0.8em;
// 	}

// 	nav{
// 	padding: 20px 0 25px 0;
// 	}

// 	nav ul li{
// 		padding: 7%;

// 	}

// 	.info-list ul li{
// 		font-size: 1.3em;
// 	}




// 	.final-text p, .final-text a{
// 		font-size: 1.3em;

// }


// }


// @media only screen and (max-width : 768px),
// only screen and (max-device-width : 768px){
	
// 	h2 {
// 		font-size:1.8em;
// 	}

	
// 	header{
// 		margin-top: 15%;
// 		width: 100%;
// 		height: auto;
// 	}

// 	.logo{
// 		margin-right: 1em;
// 		margin-top: -1em;
// 		width: 20%;
// 	}

// 	.logo p{
// 		font-size: 0.8em;
// 	}

// 	nav{
// 	padding: 30px 0 15px 0;
// 	}


// 	nav ul li{
// 		padding: 3%;

// 	}

// 	.info-list ul li{
// 		font-size: 1.2em;
// 	}


// 	.final-text p, .final-text a{
// 		font-size: 1.2em;

// 	}

// }

// @media only screen and (max-width : 480px),
// only screen and (max-device-width : 480px){
	
// 	h2 {
// 		font-size:1.8em;
// 	}

	
// 	header{
// 		margin-top: 20%;
// 		width: 100%;
// 		height: auto;
// 	}

// 	.logo{
// 		margin-right: 1em;
// 		margin-top: -2em;
// 		margin-left: 0;
// 		width: 20%;
// 	}

// 	.logo p{
// 		font-size: 0.6em;
// 	}

// 	nav{
// 		padding: 30px 0 15px 0;
// 	}

// 	nav ul li{
// 		padding: 1%;

// 	}

// 	.info-list ul li{
// 		font-size: 1em;
// 	}



// }

// @media only screen and (max-width : 350px),
// only screen and (max-device-width : 350px){
	
// 	h2 {
// 		font-size:1.8em;
// 	}

// 	.image-box h2{
// 		font-size: 1.5em;
// 	}
	
// 	header{
// 		margin-top: 30%;
// 		width: 100%;
// 		height: auto;
// 	}

// 	.logo{
// 		margin-right: 1em;
// 		margin-top: -2em;
// 		margin-left: 0;
// 		width: 100%;
// 		height: 30px;
// 	}

// 	.logo p{
// 		font-size: 0.6em;
// 		margin-top: -5px;
// 	}

// 	nav{
// 		padding: 30px 0 15px 0;
// 	}

// 	nav ul li{
// 		padding: 1%;

// 	}

// 	.link-bar{
// 		margin-top: 5%;
// 	}

// 	.info-list ul li{
// 		font-size: 1em;
// 	}

// 	.final-text {
// 	width: 100%;
// 	padding-top: 10%;
// }

// 	.final{
// 		height: 100px;
// 	}

// }

// @media screen and (device-height: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
	
// 	h2 {
// 		font-size:1.8em;
// 	}

// 	.image-box h2{
// 		font-size: 1.5em;
// 	}
	
// 	header{
// 		margin-top: 30%;
// 		width: 100%;
// 		height: auto;
// 	}

// 	.logo{
// 		margin-right: 1em;
// 		margin-top: -2em;
// 		margin-left: 0;
// 		width: 100%;
// 		height: 30px;
// 	}

// 	.logo p{
// 		font-size: 0.6em;
// 		margin-top: -5px;
// 	}

// 	nav{
// 		padding: 30px 0 15px 0;
// 	}

// 	nav ul li{
// 		padding: 1%;

// 	}

// 	.link-bar{
// 		margin-top: 5%;
// 	}

// 	.info-list ul li{
// 		font-size: 1em;
// 	}

// 	.final-text {
// 	width: 100%;
// 	padding-top: 10%;
// }

// 	.final{
// 		height: 100px;
// 	}

// }
