<nav>
  <a href="#home" du-smooth-scroll offset="150" duration="750">
    <div class="logo">
      <p><b>LISA BLANNING</b></p>
    </div>
  </a>

  <div class="link-bar">
    <ul>
        <li><a href="#words" du-smooth-scroll duration="750">FEATURES</a></li>
        <li><a href="#activity" du-smooth-scroll duration="750">ACTIVITIES</a></li>
        <li><a href="#contact" du-smooth-scroll duration="750">CONTACT</a></li>
    </ul>
  </div>
</nav>


<header id="home">
  <img id="test" src="images/lisa-blanning.jpg" /><br /><br />
  <p><i>Freelance Editor, Writer and Selector</i></p>
  <big><b>Berlin // London // Florida</b></big>
</header>


<!--*************************FEATURE ARTICLE TITLE*******************************-->
<a id="words" />
<div class="image-box"> <!--MAIN IMAGE-->
  <h2> SELECTED FEATURES &amp; REVIEWS</h2>
  <p>for Taz, Resident Advisor, The FADER, Electronic Beats, Pitchfork, Red Bull Music Academy, and The Wire</p>
  <hr />
</div> <!--END IMAGE-->



<!--***************************FEATURE ARTICLE GRID************************************-->

<section class="container centered clearfix">

  <div class="box col3" ng-repeat="article in articles | orderBy:rowNumber:reverse">
    <img ng-src="{{article.imagelink}}" alt="{{article.description}}" />
    <a ng-href="{{article.link}}" target="blank" class="blurbs">
      <p>{{article.description}}</p>
    </a>
  </div>

</section>





<!--*************************FEATURE ARTICLE TITLE*******************************-->
<a id="activity" />
<div class="image-box"> <!--MAIN IMAGE-->
  <h2>A BRIEF HISTORY OF ACTIVITIES</h2>
  <hr />
</div> <!--END IMAGE-->



<!--***************************INFO LIST************************************-->

<div class="info-list">
  <ul>
    <a href="http://reboot.fm/category/musik-magazin/saturnalien/" target="blank"><li><p><b>Reboot FM, Saturnalien show</b><br /> 2014 - present</p></li></a>

    <a href="http://www.electronicbeats.net/author/lisa-blanning/" target="blank"><li><p><b>Online Editor, Electronic Beats</b><br /> 2013 - 2014</p></li></a>

    <a href="http://www.redbullmusicacademy.com/" target="blank"><li><p><b>Online Editor, Red Bull Music Academy</b><br /> 2012 - 2013</p></li></a>

    <a href="http://thewire.co.uk/archive/contributors/lisa-blanning" target="blank"><li><p><b>News, Live Editor/Listings Editor/Special Events/Contributor, The Wire</b><br /> 2006 - 2012</p></li></a>

    <a href="http://www.electronicbeats.net/2013/03/11/the-death-of-rave-panel-discussions-from-ctm-13/" target="blank"><li><p><b>Moderator – CTM.13: Death Of Rave (UK Edition)</b> with panelists Steve
              Goodman (Kode9), Lee Gamble, Mark Fisher (K-Punk), Alex Williams, 2013</p></li></a>

    <a href="https://soundcloud.com/boom_tschak/sets/critical-beats-3" target="blank"><li><p><b>Panelist – Critical Beats #3: Aesthetics, Innovation And Tradition</b>
              with panelists Simon Reynolds, Joe Muggs and moderator Steve Goodman <br />
              (Kode9), 2012</p></li></a>

    <a href="http://thewire.co.uk/audio/on-air/critical-beats_1_sound_technology-and-microgenres" target="blank"><li><p><b>Moderator – Critical Beats #1: Sound, Technology And Microgenres</b> with
              panelists Adam Harper (Rouge's Foam), Matthew Ingram (Woebot), Mike
              Paradinas (mu-ziq), 2011</p></li></a>

    <a href="http://www.incubate.org/2013/" target="blank"><li><p><b>Panelist – Incubate Festival: Independent Media and DIY Press, 2011</b></p></li></a>

    <a href="https://vimeo.com/16485036" target="blank"><li><p><b>Talking Head, <i>Future Sound</i> documentary, 2010</b></p></li></a>

  </ul>

</div> <!--End Info List-->

      

<!--*************************GET AT ME*******************************-->
<a id="contact" />
<div class="image-box"> <!--MAIN IMAGE-->

  <h2>CONTACT</h2>
  <hr />

  </div> <!--END IMAGE-->



  <div class="final">
    <div class="final-text">
      <p><a href="mailto:lisa@lisablanning.com?subject=Site Missive">MAIL</a>&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/lisablanning" target="blank">TWITTER</a></p>
    </div><!--END FINAL TEXT-->
</div><!--END FINAL-->
